Django==1.11
Pillow==4.2.1
boto3==1.4.7
botocore==1.7.12
certifi==2017.7.27.1
chardet==3.0.4
defusedxml==0.5.0
dj-database-url==0.4.2
django-allauth==0.32.0
django-cors-headers==2.1.0
django-rest-auth==0.9.1
django-storages==1.6.5
djangorestframework==3.4.6
djangorestframework-expiring-authtoken==0.1.4
docutils==0.14
gunicorn==19.7.1
idna==2.5
jmespath==0.9.3
oauthlib==2.0.2
olefile==0.44
psycopg2==2.7.3
python-dateutil==2.6.1
python3-openid==3.1.0
pytz==2017.2
requests==2.18.3
requests-oauthlib==0.8.0
s3transfer==0.1.11
six==1.10.0
urllib3==1.22
