appdirs==1.4.3
Django==1.11
django-model-utils==2.6.1
django-notifications-hq==1.2
django-registration==2.2
jsonfield==2.0.1
oauthlib==2.0.2
olefile==0.44
packaging==16.8
Pillow==4.0.0
PyJWT==1.4.2
pyparsing==2.2.0
python3-openid==3.1.0
pytz==2017.2
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
social-auth-app-django==1.1.0
social-auth-core==1.2.0
