// @media (max-width: @screen-xs-max) {
//   }
//   @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
//   }
//   @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
//   }
//   @media (min-width: @screen-lg-min) {
//   }


// #all movement
.all {
  height: inherit;

  transition: margin-left .5s;
}

.container-all {
  height: inherit;
}

.banner {
  background-image: url('../../../img/redzza/banner.png');
  }

/* Generic facebook button */
.facebook-button {
  display: block;

  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;

  text-align: center;
  text-decoration: none;

  color: @white-base;
  border: none;
  background-color: @blue-facebook;
  &:hover {
    background-color: lighten(@blue-facebook, 5%);

    .icon-transition();
  }
}

/* modal-login options */
.login-options {
  margin-top: 20px;

  font-size: 14px;
  > a {
    color: @black-base;

    text-decoration: none;
    display: block;

    width: 100%;
    margin: 0;

    text-align: center;
  }
}
