{% extends 'materialize-nav-bar.html' %}

{% load staticfiles %}

{% block title%}Dashboard{% endblock %}

{% block externalfiles %}
<script src="{% static 'redzza/js/general.js' %}" charset="utf-8"></script>
{% endblock%}

{% block content %}
<div class="parallax-container parallax-profile-container">
  <div class="parallax"><img src="{% static 'redzza/img/parallax.jpg'%}"></div>
</div>

<!-- container -->
<div class="container banner-info">
  <!-- row -->
  <div class="row ">
    <div class="col hide-on-small-only m4 l4">
      &nbsp;
    </div>
    <div class="col s12 m4 l4">
      <img class="circle responsive-img img-center" src="{% static 'redzza/img/default-profile.jpg' %}">
    </div>
    <div class="col hide-on-small-only m4 l4">
      &nbsp;
    </div>
  </div>
  <!-- ./row -->
</div>
<!-- ./container -->

<!-- container -->
<div class="container">

</div>
<!-- ./container -->
{% endblock %}
