{% extends 'materialize-nav-bar.html' %}

{% load staticfiles %}

{% block title%}Settings{% endblock %}

{% block content %}
<!-- container -->
<div class="container container-margin-top">
  <!-- row -->
  <div class="row">
    <!-- left -->
    <div class="col s12 m4 l4">
      <img class="full-width-responsive responsive-img" src="{% static 'img/redzza/default-profile.jpg' %}">
      <div class="collection">
        <a href="#!" class="collection-item active">Datos de cuenta</a>
        <a href="#!" class="collection-item">Datos personales</a>
      </div>
    </div>
    <!-- ./left -->
    <!-- right -->
    <div class="col s12 m8 l8">
      <!-- row -->
      <div class="row">

        <h6>Datos de cuenta</h6>
        <hr>
        <br>

        <div class="row">
          <div class="col s12 m4 l4">
            <p><b>E-mail: </b></p>
          </div>
          <div class="col s12 m6 l6">
            <p>{{request.user.email}}</p>
          </div>
          <div class="col s12 m2 l2">
            <!-- Modal Trigger -->
            <a class="modal-trigger btn-floating btn-large waves-effect waves-light" href="#modal1"><i class="material-icons">mode_edit</i></a>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m4 l4">
            <p><b>Usuario: </b></p>
          </div>
          <div class="col s12 m6 l6">
            <p>{{request.user.username }}</p>
          </div>
          <div class="col s12 m2 l2">
            <!-- Modal Trigger -->
            <a class="modal-trigger btn-floating btn-large waves-effect waves-light" href="#modal2"><i class="material-icons">mode_edit</i></a>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m4 l4">
            <p><b>Contraseña: </b></p>
          </div>
          <div class="col s12 m6 l6">
            <p>********</p>
          </div>
          <div class="col s12 m2 l2">
            <!-- Modal Trigger -->
            <a class="modal-trigger btn-floating btn-large waves-effect waves-light" href="#modal3"><i class="material-icons">mode_edit</i></a>
          </div>
        </div>
      </div>
      <!-- ./row -->

      <br>
      <!-- row -->

      <div class="row">
        <h6>Datos personales</h6>
        <hr>
        <br>

        <div class="row">
          <div class="col s12 m4 l4">
            <p><b>Nombre y apellido: </b></p>
          </div>
          <div class="col s12 m6 l6">
            <p>{{request.user.first_name}} {{request.user.last_name}}</p>
          </div>
          <div class="col s12 m2 l2">
            <!-- Modal Trigger -->
            <a class="modal-trigger btn-floating btn-large waves-effect waves-light disabled" href="#modal4"><i class="material-icons">mode_edit</i></a>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m4 l4">
            <p><b>Género: </b></p>
          </div>
          <div class="input-field  col s12 m6 l6">
              <select>
                <option value="{{profile.gender}}" disabled selected>{% if profile.gender == "M" %}{{"Masculino"}}{% elif profile.gender == "F" %}{{"Femeníno"}}{% endif %}</option>
                <option value="M">Masculino</option>
                <option value="F">Femeníno</option>
              </select>
                      </div>
          <div class="col s12 m2 l2">
            &nbsp;
          </div>
        </div>

        <div class="row">
          <div class="col s8 m8 l8">
            <span><b>Teléfono: </b></span><span>{{request.user.phone}} </span>
          </div>
          <div class="col s4 m4 l4">
            <!-- Modal Trigger -->
            <a class="modal-trigger waves-effect waves-light btn" href="#modal5">Modificar</a>
          </div>
        </div>

        <div class="row">
          <div class="col s8 m8 l8">
            <span><b>Dirección: </b></span><span>{{request.user.address}} </span>
          </div>
          <div class="col s4 m4 l4">
            <!-- Modal Trigger -->
            <a class="modal-trigger waves-effect waves-light btn" href="#modal6">Modificar</a>
          </div>
        </div>
      </div>
      <!-- ./row -->
      <hr>

    </div>
    <!-- ./right -->
  </div>
  <!-- ./row -->
</div>
<!-- ./container -->
{% endblock %}

{% block modals %}
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Modificar E-mail</h4>
    <br>
    <div class="row">
      <div class="col s12 m6 l6">
        <div class="input-field col s12">
          <input id="email-1" type="email" class="validate">
          <label for="email-1">Nuevo E-mail</label>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="input-field col s12">
          <input id="email-2" type="email" class="validate">
          <label for="email-2">Confirmar E-mail</label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button id="new-email" class="modal-action waves-effect waves-green btn-flat ">Listo</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</button>
  </div>
</div>

<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>Modificar usuario</h4>
    <br>
    <div class="input-field col s12">
      <input id="new-username" type="text" class="validate">
      <label for="new-username">Nuevo usuario</label>
    </div>
  </div>
  <div class="modal-footer">
    <button id="update-user" class="modal-action waves-effect waves-green btn-flat ">Listo</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</button>
  </div>
</div>

<div id="modal3" class="modal">
  <div class="modal-content">
    <h4>Modificar contraseña</h4>
    <div class="row">
      <div class="col s12 m6 l6">
        <div class="input-field col s12">
          <input id="new-password" type="password" class="validate">
          <label for="new-password">Nueva contraseña</label>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="input-field col s12">
          <input id="new-password-2" type="password" class="validate">
          <label for="new-password-2">Confirmar nueva contraseña</label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button id="update-password" class="modal-action waves-effect waves-green btn-flat ">Listo</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</button>
  </div>
</div>

<div id="modal5" class="modal">
  <div class="modal-content">
    <h4>Modificar teléfono</h4>
    <div class="input-field col s12">
      <input id="new-phone" type="text" data-length="13">
      <label for="new-phone">Teléfono</label>
    </div>
  </div>
  <div class="modal-footer">
    <button id="update-phone" class="modal-action waves-effect waves-green btn-flat ">Listo</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</button>
  </div>
</div>

<div id="modal6" class="modal">
  <div class="modal-content">
    <h4>Modificar dirección</h4>
    <br>
    <div class="input-field col s12">
      <input id="new-address" type="text" data-length="20">
      <label for="new-address">Dirección nueva</label>
    </div>
  </div>
  <div class="modal-footer">
    <button id="update-address" class="modal-action waves-effect waves-green btn-flat ">Listo</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</button>
  </div>
</div>
{% endblock %}

{% block externalfiles %}
<script src="{% static 'js/redzza/general.js' %}" charset="utf-8"></script>
{% endblock%}
