{% extends 'materialize-base.html' %}

{% load staticfiles %}

{% block title%}Settings{% endblock %}

{% block nav_bar %}

{% include 'materialize-nav-bar.html'%}

{% endblock %}

{% block content %}
<!-- container -->
<div class="container container-margin-top">
  <!-- row -->
  <div class="row">
    <!-- left -->
    <div class="col s12 m4 l4">
      <img class="full-width-responsive responsive-img" src="{% static 'redzza/img/default-profile.jpg' %}">
      <div class="collection">
        <a href="#!" class="collection-item active">Datos de cuenta</a>
        <a href="#!" class="collection-item">Datos personales</a>
        <a href="#!" class="collection-item">Personalización </a>
      </div>
    </div>
    <!-- ./left -->
    <!-- right -->
    <div class="col s12 m8 l8">
      <!-- row -->
      <div class="row">

        <h6>Datos de cuenta</h6>
        <hr>
        <br>

        <div class="row">
          <div class="col s12 m4 l4">
            <p><b>E-mail: </b></p>
          </div>
          <div class="col s12 m6 l6">
            <p>{{request.user.email}}</p>
          </div>
          <div class="col s12 m2 l2">
            <!-- Modal Trigger -->
            <a class="modal-trigger btn-floating btn-large waves-effect waves-light" href="#modal1"><i class="material-icons">mode_edit</i></a>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m4 l4">
            <p><b>Usuario: </b></p>
          </div>
          <div class="col s12 m6 l6">
            <p>{{request.user.username }}</p>
          </div>
          <div class="col s12 m2 l2">
            <!-- Modal Trigger -->
            <a class="modal-trigger btn-floating btn-large waves-effect waves-light" href="#modal2"><i class="material-icons">mode_edit</i></a>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m4 l4">
            <p><b>Contraseña: </b></p>
          </div>
          <div class="col s12 m6 l6">
            <p>********</p>
          </div>
          <div class="col s12 m2 l2">
            <!-- Modal Trigger -->
            <a class="modal-trigger btn-floating btn-large waves-effect waves-light" href="#modal3"><i class="material-icons">mode_edit</i></a>
          </div>
        </div>
      </div>
      <!-- ./row -->

      <br>
      <!-- row -->

      <div class="row">
        <h6>Datos personales</h6>
        <hr>
        <br>

        <div class="row">
          <div class="col s12 m4 l4">
            <p><b>Nombre y apellido: </b></p>
          </div>
          <div class="col s12 m6 l6">
            <p>{{request.user.first_name}} {{request.user.last_name}}</p>
          </div>
          <div class="col s12 m2 l2">
            <!-- Modal Trigger -->
            <a class="modal-trigger btn-floating btn-large waves-effect waves-light disabled" href="#modal4"><i class="material-icons">mode_edit</i></a>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m4 l4">
            <p><b>Fecha de nacimiento:</b></p>
          </div>
          <div class="col s12 m6 l6">
            <input type="date" class="datepicker" data-value="{{profile.birth_date}}">
          </div>
          <div class="col s12 m2 l2">
            &nbsp;
          </div>
        </div>

        <div class="row">
        <form id="update-gender" data-url="{% url 'updateUser' %}">
          {% csrf_token %}
          <div class="col s12 m4 l4">
            <p><b>Género: </b></p>
          </div>
          <div class="input-field  col s12 m6 l6">
            <select name="gender">
              <option value="{{profile.gender}}" disabled selected>{% if profile.gender == "M" %}{{"Masculino"}}{% elif profile.gender == "F" %}{{"Femeníno"}}{% endif %}</option>
              <option value="M">Masculino</option>
              <option value="F">Femeníno</option>
            </select>
          </div>
          <div class="col s12 m2 l2">
            <button class="btn-floating btn-large waves-effect waves-light" type="submit"><i class="material-icons">mode_edit</i></button>
          </div>
        </form>
        </div>

        <div class="row">
          <div class="col s12 m4 l4">
            <p><b>Teléfono: </b></p>
          </div>
          <div class="col s12 m6 l6">
            <p>{{profile.phone}} </p>
          </div>
          <div class="col s12 m2 l2">
            <!-- Modal Trigger -->
            <a class="modal-trigger btn-floating btn-large waves-effect waves-light" href="#modal5"><i class="material-icons">mode_edit</i></a>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m4 l4">
            <p><b>Ubicación: </b></p>
          </div>
          <div class="col s12 m6 l6">
            <p>{{ profile.location|capfirst }} </p>
          </div>
          <div class="col s12 m2 l2">
            <!-- Modal Trigger -->
            <a class="modal-trigger btn-floating btn-large waves-effect waves-light" href="#modal6"><i class="material-icons">mode_edit</i></a>
          </div>
        </div>
      </div>
      <!-- ./row -->
      <br>
      <!-- row -->
      <div class="row">
        <h6>Personalización</h6>
        <hr>
        <br>
        <div class="row">
          <div class="col s12 m4 l4">
            <p><b>Biografía: </b></p>
          </div>
          <div class="col s12 m6 l6">
            <p>{{profile.biography}}</p>
          </div>
          <div class="col s12 m2 l2">
            <!-- Modal Trigger -->
            <a class="modal-trigger btn-floating btn-large waves-effect waves-light" href="#modal7"><i class="material-icons">mode_edit</i></a>
          </div>
        </div>
        <hr>
      </div>
      <!-- ./row -->

    </div>
    <!-- ./right -->
  </div>
  <!-- ./row -->
</div>
<!-- ./container -->
{% endblock %}

{% block modals %}
<div id="modal1" class="modal">
  <form  id="new-email" data-url="{% url 'updateUser' %}">
    {% csrf_token %}
    <div class="modal-content">
      <h4>Modificar E-mail</h4>
      <br>
      <div class="row">
        <div class="col s12 m6 l6">
          <div class="input-field col s12">
            <input id="email-1" name="email" type="email" class="validate">
            <label for="email-1">Nuevo E-mail</label>
          </div>
        </div>
        <div class="col s12 m6 l6">
          <div class="input-field col s12">
            <input id="email-2" name="email2" type="email" class="validate">
            <label for="email-2">Confirmar E-mail</label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="modal-action waves-effect waves-green btn-flat " type="submit" type="submit">Listo</button>
      <button class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</button>
    </div>
  </form>
</div>

<div id="modal2" class="modal">
  <form id="update-user" data-url="{% url 'updateUser' %}">
    {% csrf_token %}
    <div class="modal-content">
      <h4>Modificar usuario</h4>
      <br>
      <div class="input-field col s12">
        <input id="new-username" name="username" type="text" class="validate">
        <label for="new-username">Nuevo usuario</label>
      </div>
    </div>
    <div class="modal-footer">
      <button class="modal-action waves-effect waves-green btn-flat " type="submit">Listo</button>
      <button class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</button>
    </div>
  </form>
</div>

<div id="modal3" class="modal">
  <form id="update-password" data-url="{% url 'updateUser' %}">
    {% csrf_token %}
    <div class="modal-content">
      <h4>Modificar contraseña</h4>
      <div class="row">
        <div class="col s12 m6 l6">
          <div class="input-field col s12">
            <input id="new-password" name="password" type="password" class="validate">
            <label for="new-password">Nueva contraseña</label>
          </div>
        </div>
        <div class="col s12 m6 l6">
          <div class="input-field col s12">
            <input id="new-password-2" type="password" class="validate">
            <label for="new-password-2">Confirmar nueva contraseña</label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="modal-action waves-effect waves-green btn-flat" type="submit">Listo</button>
      <button class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</button>
    </div>
  </form>
</div>

<div id="modal5" class="modal">
  <form id="update-phone" data-url="{% url 'updateUser' %}">
    {% csrf_token %}
    <div class="modal-content">
      <h4>Modificar teléfono</h4>
      <div class="input-field col s12">
        <input id="new-phone" name="phone" type="text" data-length="13">
        <label for="new-phone">Teléfono</label>
      </div>
    </div>
    <div class="modal-footer">
      <button class="modal-action waves-effect waves-green btn-flat" type="submit">Listo</button>
      <button class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</button>
    </div>
  </form>
</div>

<div id="modal6" class="modal">
  <form id="update-location" data-url="{% url 'updateUser' %}">
    {% csrf_token %}
    <div class="modal-content">
      <h4>Modificar ubicación</h4>
      <br>
      <div class="input-field col s12">
        <select name="location" required aria-required="true">
          <option value="" disabled selected>Escoge un lugar</option>
          {% for place in places %}
          <option value="{{ place.pk }}">{{ place.name | capfirst }}</option>
          {% endfor %}
        </select>
        <label>Ubicación</label>
      </div>
    </div>
    <div class="modal-footer">
      <button class="modal-action waves-effect waves-green btn-flat " type="submit">Listo</button>
      <button class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</button>
    </div>
  </form>
</div>

<div id="modal7" class="modal">
  <form id="update-bio" data-url="{% url 'updateUser' %}">
    {% csrf_token %}
    <div class="modal-content">
      <h4>Modificar biografía</h4>
      <br>
      <div class="input-field col s12">
        <textarea id="textarea1" name="biography" class="materialize-textarea" data-length="120">{{ profile.biography }}</textarea>
        <label for="textarea1">Escribe aqui algo acerca de ti</label>
      </div>
    </div>
    <div class="modal-footer">
      <button class="modal-action waves-effect waves-green btn-flat" type="submit">Listo</button>
      <button class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</button>
    </div>
  </form>
</div>
{% endblock %}


{% block footer %}
{% include 'materialize-footer.html'%}
{% endblock %}
