{% extends 'materialize-base.html' %}

{% load staticfiles %}

{% block title%}{{ user.first_name|capfirst}} {{ user.last_name|capfirst}}{% endblock %}

{% block nav_bar %}

{% include 'materialize-nav-bar.html'%}

{% endblock %}

{% block content %}
<div class="parallax-container parallax-profile-container">
  <div class="parallax"><img src="{% static 'redzza/img/parallax.jpg'%}"></div>
</div>

<!-- container -->
<div class="container banner-info">
  <!-- row -->
  <div class="row ">
    <div class="col m3 l3">
      <h6>¿Que tengo?</h6>
      <ul>
        {% for cat in view.getHaveCategories %}
        <li>
          {{cat }}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col hide-on-small-only m2 l2">
      <br>
      <i class="material-icons">av_timer</i>
      <p>{{view.getDuration}}&nbsp;Días en Redzza</p>
    </div>
    <div class="col s2 m2 l2">
      <img class="circle responsive-img img-center" src="{% static 'redzza/img/default-profile.jpg' %}">
    </div>
    <div class="col hide-on-small-only m2 l2">
      <br>
      <i class="material-icons">people_outline</i>
      {% if view.getNumberFollowers == 0 %}
      <p>Este usuario aún no tienes seguidores</p>
      {% elif view.getNumberFollowers == 1 %}
      <p>{{ view.getNumberFollowers }}&nbsp;<b>Seguidor</b></p>
      {% else %}
      <p>{{ view.getNumberFollowers }}&nbsp;<b>Seguidores</b></p>
      {% endif %}
    </div>
    <div class="col m3 l3">
      <h6>¿Que busco?</h6>
      <ul>
        {% for cat in view.getSearchCategories %}
        <li>
          {{ cat }}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- ./row -->
  <!-- row -->
  <div class="row">
    <h5>{{ user.first_name|capfirst}} {{ user.last_name|capfirst}}</h5>
    <button style="display:block;margin:auto" type="button" name="button">SEGUIR</button>
  </div>
  <!-- ./row -->
</div>
<!-- ./container -->


<!-- Usuario al que se visita: {{user}} -->
<!-- <br> -->
<!-- Perfil del usuario al que se visita: {{view.getProfileSlug}} -->
<!-- <br> -->
<!-- Tiempo en redzza del perfil al que se visita: {{view.getDuration}} dias -->
<!-- <br> -->
<!-- Numero de seguidores del perfil al que se visita: {{view.getNumberFollowers}} seguidores -->
<!-- <br>
Categorias que ofrece el perfil al que se visita:
{% for category in view.getHaveCategories %}
<li>
{{category}}
</li>
{% endfor %} -->
<!-- Categorias que busca el perfil al que se visita: -->
<!-- {% for category in view.getSearchCategories %}
<li>
{{category}}
</li>
{% endfor %} -->
Publicaciones QUE TENGO del perfil al que se visita:
{% for notice in view.getNoticesHave %}
<li>
  {{notice}}
</li>
{% endfor %}
Publicaciones QUE BUSCO del perfil al que se visita:
{% for notice in view.getNoticesSearch %}
<li>
  {{notice}}
</li>
{% endfor %}

<br><br>
Usuario logueado y que visita el perfil: {{request.user}}
<br>
Perfil del usuario logueado y que visita: {{view.getProfileCurrent}}


{% endblock %}


{% block footer %}
{% include 'materialize-footer.html'%}
{% endblock %}
