{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form method="post" action=".">
	{% csrf_token %} 
	{{ form.as_p }}

	<input type="submit" value="{% trans 'Iniciar sesión' %}" />
	<input type="hidden" name="next" value="{{ next }}" />
</form>

<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url 'register' %}">{% trans "Register" %}</a>!</p>
<br>
<p><strong>-- OR --</strong></p>
<a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
{% endblock %}
