{% extends 'materialize-base.html' %}

{% load staticfiles %}

{% block title %}Registro{% endblock %}

{% block externalfiles %}
<!-- Animate on scroll CDN JS -->
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script src="{% static 'redzza/js/registration.js' %}" charset="utf-8"></script>
{% endblock%}

{% block content %}
<!-- full-screen -->
<div class="full-screen" data-aos="fade-right" data-aos-delay="200">
  <!-- row -->
  <div class="row">
    <!-- left -->
    <div class="col s12 m6 l6 valign-wrapper">
      <!-- form-container -->
      <div class="form-container">
        <p>¿Estás interesado en alguna categoría? Escoge al menos una.</p>
        <br>
        <form id="form_profile_info_2" data-url="{% url 'register' step='step3' %}">
          <div id="categories" data-url="{% url 'getCategories' %}"></div>
          <button class="btn waves-effect waves-light" type="submit" name="action">Siguiente
            <i class="material-icons right">done</i>
          </button>
        </form>
        <p class="step">Paso 2/3</p>
      </div>
      <!-- ./form-container -->
    </div>
    <!-- ./left -->
    <!-- right -->
    <div class="col s12 m6 l6">
      <!-- parallax -->
      <div class="parallax-container">
        <div class="parallax">
          <img src="{% static 'redzza/img/parallax.jpg' %}">
        </div>
      </div>
      <!-- ./parallax -->
    </div>
    <!-- ./right -->
  </div>
  <!-- ./row -->
</div>
<!-- ./full-screen -->
{% endblock %}
