{% extends 'base.html' %}

{% load i18n %}

{% load staticfiles %}

{% block title %}Redzza{% endblock %}

{% block menu %}
<nav class="nav">
  <div class="nav-brand">
    <h1>Redzza</h1>
  </div>
  <button class="nav-button" id="nav-button"><i class="fa fa-bars"></i></button>
  <div class="nav-menu" id="nav-menu">
    <button class="nav-close-button" id="nav-close-button"><i class="fa fa-times"></i></button>
    <ul>
      <li id="login-button" onclick="getModal('modal-login')">
        Ingresar
      </li>
      <li id="signup-button" onclick="getModal('modal-signup')">
        Regístrate
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="banner parallax"></div>
{% endblock %}

{% block modals %}
<!-- modal login-->
<div class="modal" id="modal-login">
  <div class="modal-content modal-xs">
    <!-- modal-header -->
    <div class="modal-header">
      <span class="close" id="close-modal" onclick="closeModal('modal-login')"><i class="fa fa-times-circle" area-hidden="true"></i></span>
      <div class="modal-title">
        <h2>Iniciar sesión</h2>
      </div>
    </div>
    <!-- /modal-header -->
    <!-- modal-body -->
    <div class="modal-body">
      <div id="login-response"></div>
      <form id="form-login" class="vertical-form" data-url="{% url 'login' %}">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Correo electrónico">
        <input type="password" name="password" placeholder="Contraseña">
        <button type="submit" name="button">{% trans 'Iniciar sesión' %}</button>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
    <!-- /modal-body -->
    <!-- modal-footer -->
    <div class="modal-footer">
      <a href="{% url 'social:begin' 'facebook' %}" class="facebook-button"><i class="fa fa-facebook-f" area-hidden="true"></i> Facebook</a>
      <div class="login-options">
        <a href="{% url 'auth_password_reset' %}">{% trans "¿Olvidaste tu contraseña?" %}</a>
        <a href="#" id="button-not-member">{% trans "Regístrate" %}</a>
        <br>
      </div>
    </div>
    <!-- /modal-footer -->
  </div>
</div>
<!-- /modal login-->

<!-- modal signup -->
<div class="modal" id="modal-signup">
  <div class="modal-content modal-xs">
    <!-- modal-header -->
    <div class="modal-header">
      <span class="close" id="close-modal" onclick="closeModal('modal-signup')"><i class="fa fa-times-circle" area-hidden="true"></i></span>
      <div class="modal-title">
        <h2>Regístrate</h2>
      </div>
    </div>
    <!-- /modal-header -->
    <!-- modal-body -->
    <div class="modal-body">
      <div id="signup-response"></div>
      <form id="form-signup" class="vertical-form" data-url="{% url 'register' step='step1' %}">
        {% csrf_token %}
        <input type="email" placeholder="Correo electrónico" id="signup-input" data-url="{% url 'validateEmail' %}" required="true">
        <div>
          <span><input type="checkbox" id="tems"></input></span>
          <span><a href="">Acepto los terminos y condiciones de uso</a></span>
        </div>
        <button type="submit" name="button">{% trans 'Registro' %}</button>
      </form>
    </div>
    <!-- /modal-body -->
    <!-- modal-footer -->
    <a href="{% url 'social:begin' 'facebook' %}" class="facebook-button"><i class="fa fa-facebook-f" area-hidden="true"></i> Facebook</a>
    <!-- /modal-footer -->
  </div>
</div>
<!-- /modal signup -->
{% endblock %}

{% block externalfiles %}
<script src="{% static 'js/redzza/primary-menu.js'%}" charset="utf-8"></script>
{% endblock %}
